<div id="<%= dom_id publisher %>">
  <% if action_name != "show" %>
    <%= link_to "Show this publisher", publisher, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this publisher', edit_publisher_path(publisher), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
